<div class="logo">
    <a href="index.html" target="_self" rel="noreferrer noopener"><img src="/images/CodeSquad-Comics-logo.png"
            alt="CodeSquad Comics Logo"></a>
    <a href="javascript:void(0);" class="menu">
        <i class="fa fa-bars" fa-2x></i>
    </a>
    <div class="topnav">
        <a href="index.html" target="_blank" rel="noreferrer noopener">HOME</a>
        <a href="about.html" target="_self" rel="noreferrer noopener">ABOUT</a>
        <a href="login.html" target="_blank" rel="noreferrer noopener">LOGIN</a>
    </div>
</div>