<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>
    <div class="info">
        <h1>CODESQUAD COMICS</h1>
        <p>CodeSquad Comics is a collection of graphic novels read by Jonani Okuk.
            The site is intended to display comic book covers along with information about each book, including the
            author, a rating, and other details about the graphic novel. Browse through the complete collection below.
            Click on the cover image or the Details link to see even more information for each graphic novel including
            the publisher, genre, number of pages, and a brief synopsis. The About page includes meta information about
            this collection. Login is only available to the site administrator at this time.
        </p>
    </div>
    <div class="info">
        <h1>COMPLETE COMIC COLLECTION</h1>
        <div class="figure">
            <figure class="comiccover">
                <a href="#">
                    <img src="/images/fun-home.jpg" alt="fun-home">
                </a>
                <figcaption class="caption">
                    Fun Home: A Finally Tragicomic<br>by Alison Bechdel<br>5 Stars<br>
                </figcaption>
                <a href="#">Details</a>
            </figure>
            <figure class="comiccover">
                <a href="#">
                    <img src="/images/watchmen.jpg" alt="watchmen">
                </a>
                <figcaption class="caption">
                    Watchmen<br>by Alan Moore<br>5 Stars<br>
                </figcaption>
                <a href="#">Details</a>
            </figure>
            <figure class="comiccover">
                <a href="#">
                    <img src="/images/hunter-x-hunter.jpg" alt="hunter-x-hunter">
                </a>
                <figcaption class="caption">
                    Hunter X Hunter Vol.1<br>Yoshihiro Togashi<br>5 Stars<br>
                </figcaption>
                <a href="#">Details</a>
            </figure>
            <figure class="comiccover">
                <a href="#">
                    <img src="/images/lumberjanes.jpg" alt="lumberjanes">
                </a>
                <figcaption class="caption">Lumberjanes Vol.1<br>by Noelle Stevenson<br>4 Stars<br>
                </figcaption>
                <a href="#">Details</a>
            </figure>
            <figure class="comiccover">
                <a href="#">
                    <img src="/images/one-piece.jpg" alt="one-piece">
                </a>
                <figcaption class="caption">
                    One Piece, Vol.1: Romance Dawn<br>by Eiichiro Oda<br>5 Stars<br>
                </figcaption>
                <a href="#">Details</a>
            </figure>
            <figure class="comiccover">
                <a href="#">
                    <img src="/images/wake.jpg" alt="wake">
                </a>
                <figcaption class="caption">
                    Wake: The Hidden History of Women-Led Slave Revolts<br>by Rebecca Hall<br>4 Stars<br>
                </figcaption>
                <a href="#">Details</a>
            </figure>
            <figure class="comiccover">
                <a href="#">
                    <img src="/images/black-panther.jpg" alt="black-panther">
                </a>
                <figcaption class="caption">
                    Black Panther: A Nation Under Our Feet Book 1<br>by Ta-Nehisi Coates<br>3 Stars<br>
                </figcaption>
                <a href="#">Details</a>
            </figure>
            <figure class="comiccover">
                <a href="#">
                    <img src="/images/the-walking-dead.jpg" alt="fun-home">
                </a>
                <figcaption class="caption">
                    The Walking Dead, Vol.1: Days Gone Bye<br>by Robert Kirkman<br>4 Stars<br>
                </figcaption>
                <a href="#">Details</a>
            </figure>
            <figure class="comiccover">
                <a href="#">
                    <img src="/images/march.jpg" alt="march">
                </a>
                <figcaption class="caption">
                    March:Book One<br>by John Lewis<br>5 Stars<br>
                </figcaption>
                <a href="#">Details</a>
            </figure>
            <figure class="comiccover">
                <a href="comiccard.html" target="_blank" rel="noreferrer noopener"><img src="/images/batman.jpg"
                        alt="batman"></a>
                <figcaption class="caption">
                    Batman: The Dark Knight Returns<br>by Frank Miller<br>3 Stars<br>
                    <a href="comiccard.html">Details</a>
                </figcaption>
            </figure>
            <figure class="comiccover">
                <a href="#">
                    <img src="/images/queer.jpg" alt="queer">
                </a>
                <figcaption class="caption">
                    Queer: A Graphic History<br>by Robert Kirkman<br>4 Stars<br>
                </figcaption>
                <a href="#">Details</a>
            </figure>
            <figure class="comiccover">
                <a href="#">
                    <img src="/images/parable-of-the-sower.jpg" alt="parable">
                </a>
                <figcaption class="caption">
                    Parable of the Sower<br>by Octavia E. Butler<br>4 Stars<br>
                </figcaption>
                <a href="#">Details</a>
            </figure>
        </div>
        <button type="button" id="addmore">DISPLAY MORE</button>
    </div>
    <%- include('../partials/footer') -%>