<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>
    <div class="pageinfo">
        <div class="info">
            <h1>LOGIN</h1>
            <form>
                <ul class="form-fields">
                    <li class="form-fields">
                        <label for="title">Email address:</label>
                        <input type="text" id="email" name="email" value="Email">
                    </li>
                    <li class="form-fields">
                        <label for="password">Password:</label>
                        <input type="text" id="password" name="password" value="Password">
                    </li>
                    <button type="submit">Submit</button>
                </ul>
            </form>
        </div>
        <%- include('../partials/footer') -%>